<a href="https://colab.research.google.com/github/MaryAdewunmi/Predicting-NFL2020/blob/main/Predicting_scores_using_Ridge_Regression_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Ridge

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Hockeygames.xlsx to Hockeygames.xlsx

In [10]:
df = pd.read_excel('Hockeygames.xlsx',sheet_name = 'Sheet1',header = 0)

***Data Exploration***

In [11]:
df.head()

        Date              Visitor  VisitorG                  Home  HomeG
0 2019-10-02    Vancouver Canucks         2       Edmonton Oilers      3
1 2019-10-02  Washington Capitals         3       St. Louis Blues      2
2 2019-10-02      Ottawa Senators         3   Toronto Maple Leafs      5
3 2019-10-02      San Jose Sharks         1  Vegas Golden Knights      4
4 2019-10-03      Arizona Coyotes         1         Anaheim Ducks      2

In [13]:

df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [14]:
df.index

RangeIndex(start=0, stop=640, step=1)

In [15]:
df.index +=1

In [16]:
df.index

RangeIndex(start=1, stop=641, step=1)

In [17]:
df.head()

        Date              Visitor  VisitorG                  Home  HomeG
1 2019-10-02    Vancouver Canucks         2       Edmonton Oilers      3
2 2019-10-02  Washington Capitals         3       St. Louis Blues      2
3 2019-10-02      Ottawa Senators         3   Toronto Maple Leafs      5
4 2019-10-02      San Jose Sharks         1  Vegas Golden Knights      4
5 2019-10-03      Arizona Coyotes         1         Anaheim Ducks      2

In [18]:
df['g_diff'] = df['HomeG'] - df['VisitorG']

In [19]:
df['g_diff'].head()

1    1
2   -1
3    2
4    3
5    1
Name: g_diff, dtype: int64

In [21]:
# create new vcolumn to show home team win or loss result
df['home_win'] = np.where(df['g_diff'] > 0, 1, 0)
df['home_loss'] = np.where(df['g_diff'] < 0, 1, 0)

In [22]:
df.head()

        Date              Visitor  VisitorG  ... g_diff  home_win  home_loss
1 2019-10-02    Vancouver Canucks         2  ...      1         1          0
2 2019-10-02  Washington Capitals         3  ...     -1         0          1
3 2019-10-02      Ottawa Senators         3  ...      2         1          0
4 2019-10-02      San Jose Sharks         1  ...      3         1          0
5 2019-10-03      Arizona Coyotes         1  ...      1         1          0

[5 rows x 8 columns]

In [23]:
df_Visitor = pd.get_dummies(df['Visitor'], dtype=np.int64)
df_Home = pd.get_dummies(df['Home'], dtype=np.int64)

In [24]:
df_Visitor.head()

   Anaheim Ducks  Arizona Coyotes  ...  Washington Capitals  Winnipeg Jets
1              0                0  ...                    0              0
2              0                0  ...                    1              0
3              0                0  ...                    0              0
4              0                0  ...                    0              0
5              0                1  ...                    0              0

[5 rows x 31 columns]

In [25]:
df_Home.head()

   Anaheim Ducks  Arizona Coyotes  ...  Washington Capitals  Winnipeg Jets
1              0                0  ...                    0              0
2              0                0  ...                    0              0
3              0                0  ...                    0              0
4              0                0  ...                    0              0
5              1                0  ...                    0              0

[5 rows x 31 columns]

In [26]:
# subtract home from visitor
df_model = df_Home.sub(df_Visitor) 
df_model['g_diff'] = df['g_diff']

In [27]:
df_train = df_model 

lr = Ridge(alpha=0.001) 
X = df_train.drop(['g_diff'], axis=1)
y = df_train['g_diff']

lr.fit(X, y)

Ridge(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [28]:
df_ratings = pd.DataFrame(data={'team': X.columns, 'rating': lr.coef_})
df_ratings

                     team    rating
0           Anaheim Ducks -0.576006
1         Arizona Coyotes  0.173415
2           Boston Bruins  0.723737
3          Buffalo Sabres -0.190159
4          Calgary Flames -0.212756
5     Carolina Hurricanes  0.494470
6      Chicago Blackhawks -0.272586
7      Colorado Avalanche  0.813188
8   Columbus Blue Jackets -0.091216
9            Dallas Stars  0.263610
10      Detroit Red Wings -1.680104
11        Edmonton Oilers -0.291695
12       Florida Panthers  0.228150
13      Los Angeles Kings -0.629266
14         Minnesota Wild -0.154663
15     Montreal Canadiens  0.017761
16    Nashville Predators  0.019805
17      New Jersey Devils -0.799886
18     New York Islanders  0.341192
19       New York Rangers -0.113586
20        Ottawa Senators -0.559626
21    Philadelphia Flyers  0.163889
22    Pittsburgh Penguins  0.686438
23        San Jose Sharks -0.776105
24        St. Louis Blues  0.462697
25    Tampa Bay Lightning  0.513710
26    Toronto Maple Leafs  0.419998
27      Vancouver Canucks  0.231913
28   Vegas Golden Knights  0.125138
29    Washington Capitals  0.700567
30          Winnipeg Jets -0.032026

In [ ]:
import plotly.express as px
data = df1
# Use directly Columns as argument. You can use tab completion for this!
fig = px.scatter(df1, x=df1.Player, y=df1.Team, size=df1.Win)
fig.show()

In [30]:
import plotly.express as px
data = df_ratings
# Use directly Columns as argument. You can use tab completion for this!
fig = px.scatter(df_ratings, x=df_ratings.team, y=df_ratings.rating)
fig.show()

Team Colorado Avalanche has the highest ratings

In [34]:
import seaborn as sns
import matplotlib.pyplot as plt

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
from cycler import cycler